.main {
    background-color: white;
    min-height: 600px;
    margin-top: 50px;
    border-radius: 20px;
    height: 100%;
    }

.flight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.seats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-top: 1px dashed black;
}

.seat {
    margin-right: 10px;
}

.weather {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-top: 1px dashed black;
}

.price {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-top: 1px dashed black;
}

.currency-dropdown {
    margin-left: 10px;
}

.row-button {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 50px;
    border-top: 1px dashed black;
  }

::ng-deep .p-dropdown-items  {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
  }