<p-dialog header="Zaloguj się" [(visible)]="visible" [modal]="true" [closable]="true" (onHide)="closeDialog()">
    <form [formGroup]="loginForm" (ngSubmit)="signIn()">
        <div class="row">
            <label for="login">Login</label>
            <input id="login" type="text" pInputText formControlName="login" />
            <div *ngIf="loginForm.controls['login'].invalid && loginForm.controls['login'].touched" class="error">
                Login jest wymagany
            </div>
        </div>
        
        <div class="row">
            <label for="password">Hasło</label>
            <input id="password" type="password" pInputText formControlName="password" />
            <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="error">
                Hasło jest wymagane
            </div>
        </div>

        <div class="col-md-12 login-buttons">
            <p-button label="Dalej" type="submit" [disabled]="loginForm.invalid"></p-button>
            <p-button class="space" label="Anuluj" (click)="closeDialog()" type="button"></p-button>
        </div>        
    </form>
</p-dialog>
