.main {
  background-color: white;
  min-height: 600px;
  margin-top: 50px;
  border-radius: 20px;
  height: 100%;
}

.seats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  min-height: 500px;
}

.lane {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 kolumny */
  gap: 20px;
}

.seat {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #f4f4f4;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.passengers-number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Add the new styles here */
.row-baggage-container {
  display: flex;
  flex-direction: row; /* Align baggage-selection divs in a row */
  margin: 10px;
  gap: 60px; /* Space between the two baggage selections */
  justify-content: center; /* Center them horizontally */
  align-items: center; /* Align vertically */
  flex-wrap: wrap; /* Ensure responsiveness */
}

.baggage-selection {
  display: flex;
  flex-direction: row; /* Ensure label and dropdown are in the same row */
  align-items: center; /* Align text and dropdown vertically */
  gap: 10px; /* Space between label and dropdown */
  white-space: nowrap; /* Prevent text wrapping */
}

.row-button {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
