body {
    background: linear-gradient(180deg, rgba(201, 75, 117, 0.8), rgb(45, 81, 122) 70.71%), linear-gradient(127deg, rgba(59, 79, 121, 0.993), rgba(19, 26, 88, 0.788) 70.71%), linear-gradient(0deg, rgba(214, 129, 105, 0.8), rgba(0,0,255,0) 70.71%);
    background-size: cover;
    background-repeat: no-repeat;
  background-attachment: fixed;
}